html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #aaa;
}

h1 {
  margin: 0 0 0.5rem 0;
}

/* ----- Styles for the Custom Component Tag <app-root></app-root> ----- */

app-root {
  display: block;
  position: relative;
  max-width: 700px;
  margin: 1rem;
  padding: 1rem;
  background: #eee;
  border-radius: 1rem;
}
