html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #eee;
}

h1 {
  margin: 0 0 0.5rem 0;
}

/* ----- Styles for the Custom Component Tag <app-root></app-root> ----- */

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}

.header {
  display: flex;
  background: #bbb;
  align-items: center;
}

.logo {
  font-size: 2rem;
  padding: 0 1rem;
  user-select: none;
}

nav-container {
  display: flex;
}

nav-item {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  padding: 1rem;
}

nav-item.current {
  background: #222;
  color: #fff;
}

page-container {
  padding: 1rem;
}
